@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    
  }

h2 {
    font-family: 'Ysabeau SC', sans-serif;
}

p, a {
    font-family: 'Wix Madefor Text', sans-serif;
}

/* -------------- HEADER -------------- */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background-color: rgb(194, 44, 44);
    width: 100%;
}

.h-div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.h-div1 img {
    padding: 5px;
    background-color: white;
}

.h-div1 h2 {
    font-size: 1.8rem;
    color: white;
}

.h-div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%
}

.header div img {
    width: 60px;
    
}

.header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li a:hover {
    color: rgb(148, 18, 18)
}

/* -------------- MAIN -------------- */

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main h3 {
    font-family: 'Alata', sans-serif;
    font-size: 2.5rem;
    color: rgb(148, 18, 18);
}

/* -------------- FOOTER -------------- */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    /* color: white; */
}

.footer1 {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    gap: 20px;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    width: 40%;
}

.div1 p {
    font-size: 0.8rem;
    color: grey;
}

.div2 {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: end;
    gap: 40px;
    width: 60%;
}

.div2 h2 {
    color: white;
}

.div2-1, .div2-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div2-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 351px;
}

.links {
    display: flex;
    flex-direction: column;  
}

.links ul {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
}

.links a:hover {
    color: white;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.input input {
    padding: 5px 10px 5px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: none;
}

.input input:focus {
    
    border: 2px solid rgb(255, 83, 83) !important;
}

.input input::placeholder {
    color: grey;
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 8px;
}

.input button {
    padding: 7.6px 14px 7.6px 10px;
    background-color: brown;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
}

.input button:hover{
    background-color: rgb(107, 28, 28);
}

.div2-3 p {
    font-size: 0.8rem;
    color: grey;
}

.footer div img {
    width: 200px;
}

hr {
    margin: 15px 0 15px 0;
    width: 98%;
    border-color: rgb(77, 77, 77);
}

.footer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer2 a img {
    width: 40px;
    padding-bottom: 15px;
}



@media (max-width: 600px) {
    * {
      font-size: 22px;
    }
  
    .card {
      width: 80%;
    }
  }
  
  @media (min-width: 601px) and (max-width: 801px) {
    * {
      font-size: 20px;
    }
  
    .card {
      width: 40%;
    }
  }